# Environment variables (Secrets)
.env

# Python cache folders
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# IDE and editor settings for local development
.vscode/
describe.ipynb
describe.py
teste.py
teste2.py
teste*.py
test_*.py
test_*.ipynb
temp_*
save.py
.DS_Store

