# Environment variables (Secrets)
.env

# Python cache folders
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# IDE and editor settings for local development
.vscode/
describe.ipynb
describe.py
teste.py